<h2>
  <span> Recipe list </span>
  <span class="pull-right">
    <span
      class="btn btn-default-right glyphicon glyphicon-edit"
      [ngClass]="{ red: isEditing }"
      title="Edit recipes"
      (click)="toggleEdit()"
    ></span>
    <span
      class="btn btn-default-right glyphicon glyphicon-plus"
      title="New recipe"
      (click)="onNewRecipe()"
    ></span>
  </span>
</h2>
<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let recipe of recipesService.recipies"
    [routerLink]="'' + recipe.id"
    routerLinkActive="selected"
  >
    <app-recipe-item
      [recipe]="recipe"
      [isEditing]="isEditing"
    ></app-recipe-item>
  </li>
</ul>
