<ng-container *ngIf="!isEditing">
  <span class="glyphicon glyphicon-edit pointer" (click)="onStartEdit()"></span>
  <app-ingridient [ingridient]="ingridient"></app-ingridient>
</ng-container>

<ng-container *ngIf="isEditing">
  <span
    class="glyphicon glyphicon-remove pointer"
    (click)="removeIngridient.next()"
  ></span>
  <app-ingridient-input
    [buttonName]="'Save'"
    [currentIngridientOptions]="{
      name: ingridient.name,
      amount: ingridient.amount,
      measurement: ingridient.measurement
    }"
    (ingridientOptionsSubmitted$)="onNewIngridientOptions($event)"
  ></app-ingridient-input>
</ng-container>
