<h2>Shopping list</h2>
<ul class="list-group">
  <ng-container *ngFor="let recipe of recipesService.recipies">
    <ng-container></ng-container>
    <li class="list-group-item" *ngIf="recipe.ingridientsInCart().length > 0">
      <p>{{ recipe.name }}</p>
      <ul class="list-group">
        <ng-container *ngFor="let ingridient of recipe.ingridients">
          <li class="list-group-item" *ngIf="ingridient.inCart">
            <app-ingridient [ingridient]="ingridient"></app-ingridient>
          </li>
        </ng-container>
      </ul>
    </li>
  </ng-container>
</ul>
